body{
    background-color: aquamarine;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.correct {
    background-color: green;
}

.error {
    background-color: red;
}
#palabras p.correct {
    color: green;
}
